.DS_Store
.DS_Store?
*.DS_Store
*.pyc

data/sharpr/
data/simulated_data/
saved_model
post-hoc/

temp 
plot
data/starrseq*
data/dnase-l/wg*
data/silencer/temp
output

models/Model_viz
models/custom_loss
scripts
figs
v2
v2/regression//model/saved_model/sharpr